body {
    background-color: aquamarine;
    margin-left: 20%;
    margin-right: 20%;
    border: 2px dotted gray;
    padding: 10px 10px 10px 10px;
    font-family: sans-serif;
}

h1, h2 {
    font-family: sans-serif;
    color: gray;
}

h1 {
    border-bottom: 1px solid black;
}

p {
    font-family: sans-serif;
    color: maroon;
}

.SuperStyle {
    color: blue;
    background-color: mediumslateblue;
}
p.SuperStyle{
    color: brown;
    background-color: chartreuse;
}